.itemContainer {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #ddd;
  border: solid 1px #333;
  border-left: none;
  justify-items: center;
  border-radius: 10px;
}

.imageContainer {
  height: 4rem;
}

.itemImage {
  border-right: none;
  width: 4rem;
  height: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: visible;
}

li {
  display: flex;
  justify-content: center;
}

li:hover {
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 1rem;
}

.titleTablet {
  font-size: 0.8rem;
}

.titleBookmarkTablet {
  font-size: 0.7rem;
  padding: 0;
}

.text {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #000;
  padding: 0 1rem;
}

.deleteBookmark {
  border-radius: 10px;
  font-size: 8px;
  margin-left: 3rem;
  max-height: 2rem;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.deleteBookmarkTablet {
  font-size: 0.6rem;
  margin-left: 0;
}

.deleteBookmark:hover {
  cursor: pointer;
}
