.itemContainer {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #ddd;
  border: solid 1px #333;
  border-left: none;
  justify-items: center;
  padding-right: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.itemImage {
  border: solid 1px #333;
  border-right: none;
  width: 4rem;
  height: 4rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: visible;
}
li {
  display: flex;
}

li:hover {
  cursor: pointer;
}

h4 {
  margin: 0;
}

.text {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #000;
  padding-right: 0 5rem;
}

.deleteBookmark {
  border-radius: 10px;
  font-size: 8px;
  margin-left: 3rem;
  max-height: 2rem;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.deleteBookmark:hover {
  cursor: pointer;
}
