.pagination {
  margin: 2rem 5px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #ddd;
  font-size: 10px;
  font-weight: bold;
  color: rgb(135, 42, 9);
  padding: 3px 6px;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
}

span {
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
