.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 18rem 1fr;
  background-color: #333;
  height: 100%;
}
.container {
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
}
