.bookmarkedRecipes {
  background-color: orangered;
  padding: 1rem 3rem;
  color: #fff;
  top: 0;
  position: sticky;
}

.bookmarkedRecipes:hover {
  cursor: pointer;
}

.bookmarks {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: #333;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-height: 18rem;
  overflow: scroll;
  box-shadow: 5px 5px 5px #000;
  align-content: center;
}

.bookmarksTablet {
  max-width: 20rem;
  max-height: 18rem;
}

.list {
  font-size: 1rem;
}

.listBookmarksTablet {
  font-size: 0.6rem;
}

.listTablet {
  font-size: 0.8rem;
}

.errorMessage {
  color: #fff;
  text-align: center;
}
