.bookmarkedRecipes {
  background-color: orangered;
  padding: 1rem 3rem;
  color: #fff;

  top: 2rem;
  right: 5rem;
}

.bookmarkedRecipes:hover {
  cursor: pointer;
}

.bookmarks {
  position: absolute;
  top: 4rem;
  right: 5rem;
  background-color: #333;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-height: 20rem;
  overflow: scroll;
}

.errorMessage {
  color: #fff;
  text-align: center;
}
