.bookmarkedRecipes {
  background-color: orangered;
  padding: 1rem 3rem;
  color: #fff;
}

.bookmarkedRecipes:hover {
  cursor: pointer;
}

.bookmarks {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.errorMessage {
  color: #fff;
  text-align: center;
}
