.ingredient {
  color: white;
  display: flex;
  justify-content: flex-start;
}
.listIngredients {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 12rem;
  font-size: 1.2rem;
  font-weight: 600;
}
