.recipe {
  background-color: #ddd;
}

.mainImage {
  background-size: cover;
}

.title {
  color: #000;
  width: 25rem;
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #fff;
}

.mainTitle {
  color: #fff;
  font-size: 3.8rem;
  font-weight: 900;
  padding: 0 2rem;
  border: 1px dotted #fff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: center;
  height: 15rem;
  align-items: center;
}

.ingredients {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5rem 7rem 5rem;
}

.listIngredients {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 12rem;
  font-size: 1.2rem;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closingParagraph {
  text-align: center;
  line-height: 18px;
  margin-bottom: 0;
  padding: 0 5rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.directions {
  margin: 3rem 0;
  background-color: orangered;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.directions:hover {
  background-color: #ff8400;
}
